.themeToggle {
  height: 2.5rem;
  width: 2.5rem;

  border-radius: 50%;
  border: $border;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: $primary-color;
  }
}
